<div class="register-container">
    <div class="register-box">
        <div class="register-header">
            <h2>Regístrate</h2>
            <p>¡Únete a <strong>BuyLoco</strong> y descubre un mundo de posibilidades!</p>
        </div>
        <form class="register-form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <!-- Campo de nombre -->
            <div class="form-group">
                <label for="name">Nombre</label>
                <div class="input-container">
                    <i class="fas fa-user input-icon"></i>
                    <input type="text" id="name" formControlName="name" class="form-control"
                        placeholder="Ingresa tu nombre" required />
                </div>
                <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                    class="error-message">
                    Por favor, ingresa tu nombre.
                </div>
            </div>

            <!-- Campo de correo electrónico -->
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <div class="input-container">
                    <i class="fas fa-envelope input-icon"></i>
                    <input type="email" id="email" formControlName="email" class="form-control"
                        placeholder="Ingresa tu correo" required />
                </div>
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                    class="error-message">
                    Por favor, ingresa un correo válido.
                </div>
            </div>

            <!-- Campo de contraseña -->
            <div class="form-group">
                <label for="password">Contraseña</label>
                <div class="input-container">
                    <i class="fas fa-lock input-icon"></i>
                    <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                        class="form-control" placeholder="Ingresa tu contraseña" required />
                    <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
                        <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                </div>
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                    class="error-message">
                    La contraseña debe tener al menos 6 caracteres.
                </div>
            </div>

            <!-- Botón de registro -->
            <button type="submit" class="btn btn-primary btn-block"
                [disabled]="registerForm.invalid">Registrarse</button>
        </form>
        <div class="register-footer">
            <p>¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>
</div>